doctype html
html
    head
        title Test React Stuff
        meta(charset="UTF-8")
    body
        div#example Loading React...

        script(src=`${assets.react.js}`)
        script(src=`${assets.client.js}`)
